<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>게시글 리스트</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/boarder-list.css" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<header>
  <div th:replace="~{fragments/header :: header}"></div>
</header>

<div class="board-container">
  <div class="category-section">
    <div class="category-buttons">

      <!-- 전체 -->
      <a th:href="@{/board/search(category='ALL', filter=${filter}, keyword=${keyword}, searchType=${searchType})}"
         th:classappend="${category == null || category == 'ALL'} ? 'active'">전체</a>

      <!-- 정치 -->
      <a th:href="@{/board/search(category='POLITICS', filter=${filter}, keyword=${keyword}, searchType=${searchType})}"
         th:classappend="${category == 'POLITICS'} ? 'active'">정치</a>

      <!-- 경제 -->
      <a th:href="@{/board/search(category='ECONOMY', filter=${filter}, keyword=${keyword}, searchType=${searchType})}"
         th:classappend="${category == 'ECONOMY'} ? 'active'">경제</a>

      <!-- 사회 -->
      <a th:href="@{/board/search(category='SOCIAL', filter=${filter}, keyword=${keyword}, searchType=${searchType})}"
         th:classappend="${category == 'SOCIAL'} ? 'active'">사회</a>

      <!-- 문화 -->
      <a th:href="@{/board/search(category='CULTURE', filter=${filter}, keyword=${keyword}, searchType=${searchType})}"
         th:classappend="${category == 'CULTURE'} ? 'active'">문화</a>

      <!-- 스포츠 -->
      <a th:href="@{/board/search(category='SPORTS', filter=${filter}, keyword=${keyword}, searchType=${searchType})}"
         th:classappend="${category == 'SPORTS'} ? 'active'">스포츠</a>

      <!-- 기타 -->
      <a th:href="@{/board/search(category='MISC', filter=${filter}, keyword=${keyword}, searchType=${searchType})}"
         th:classappend="${category == 'MISC'} ? 'active'">기타</a>

    </div>
  </div>


  <!-- 게시글 상단 헤더 -->
  <div class="board-header">

    <!-- 총 게시글 수 -->
    <div class="board-count">
      총 <strong><span th:text="${boardPage.totalElements}">0</span></strong>건
    </div>

    <!-- 검색 결과 텍스트 -->
    <div class="search-result-info" th:if="${keyword != null and keyword != ''}">
      <strong th:text="'\'' + ${keyword} + '\'' + '에 대한 검색 결과'"></strong>
    </div>

    <!-- Editor's Note 필터 -->
    <div th:if="${loginUser != null}" class="editor-filter">
      <form method="get" action="/board/search">
        <input type="hidden" name="filter" value="admin">
        <input type="hidden" name="category" th:value="${category}" />
        <input type="hidden" name="keyword" th:value="${keyword}" />
        <input type="hidden" name="searchType" th:value="${searchType}" />
        <button type="button" id="toggleFilterBtnEN">Editor's Note</button>
      </form>
    </div>



  </div>





  <table class="board-table">
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
<!--      <th>카테고리</th>-->
      <th>등록일</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="board, stat : ${boardPage.content}">
        <td th:text="${boardPage.totalElements - (boardPage.number * boardPage.size + stat.index)}"></td>
        <td>
          <a th:href="@{'/board/detail/' + ${board.id}}"
             th:text="${board.title}"
             th:classappend="${board.isBlind} ? 'blind-title'">></a>
        </td>
<!--        <td>-->
<!--          <span th:switch="${board.newsCategory}">-->
<!--            <span th:case="'POLITICS'">정치</span>-->
<!--            <span th:case="'ECONOMY'">경제</span>-->
<!--            <span th:case="'SOCIAL'">사회</span>-->
<!--            <span th:case="'CULTURE'">문화</span>-->
<!--            <span th:case="'SPORTS'">스포츠</span>-->
<!--            <span th:case="'MISC'">기타</span>-->
<!--            <span th:case="*">기타</span> &lt;!&ndash; 기본값 &ndash;&gt;-->
<!--          </span>-->
<!--        </td>-->
        <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}"></td>
      </tr>
    </tbody>

  </table>

  <div class="pagination">
    <button th:if="${boardPage.hasPrevious()}"
            th:attr="data-url=@{/board/search(page=${boardPage.number - 1}, size=${pageSize}, category=${category}, filter=${filter}, keyword=${keyword}, searchType=${searchType})}"
            onclick="location.href=this.getAttribute('data-url')">
      «
    </button>
    <button th:unless="${boardPage.hasPrevious()}" disabled>«</button>
    <th:block th:with="lastPage=${boardPage.totalPages > 0 ? boardPage.totalPages - 1 : 0}">
      <button th:each="i : ${#numbers.sequence(0, lastPage)}"
              th:text="${i + 1}"
              th:classappend="${i == boardPage.number} ? 'active'"
              th:attr="data-url=@{/board/search(page=${i}, size=${pageSize}, category=${category}, filter=${filter}, searchType=${searchType}, keyword=${keyword})}"
              onclick="location.href=this.getAttribute('data-url')">
      </button>
    </th:block>


    <button th:if="${boardPage.hasNext()}"
            th:attr="data-url=@{/board/search(page=${boardPage.number + 1}, size=${pageSize}, category=${category}, filter=${filter}, keyword=${keyword}, searchType=${searchType})}"
            onclick="location.href=this.getAttribute('data-url')">
      »
    </button>
    <button th:unless="${boardPage.hasNext()}" disabled>»</button>
  </div>

  <div class="board-search">
    <form method="get" action="/board/search"class="search-form">
      <select name="searchType">
        <option value="title" th:selected="${searchType} == 'title'">제목</option>
        <option value="content" th:selected="${searchType} == 'content'">내용</option>
        <option value="all" th:selected="${searchType} == 'all'">제목+내용</option> </select>
      <input type="text" name="keyword" th:value="${keyword}" placeholder="검색어를 입력해주세요." />
      <input type="hidden" name="category" th:value="${category}" />
      <input type="hidden" name="filter" th:value="${filter}" />
      <button type="submit">검색</button>
    </form>
  </div>
</div>


<script src="/js/board-list.js"></script>
</body>
</html>
