<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BIGKinds 마이페이지</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/mypage.css" />
</head>
<body>
<div class="navbar">
  <a href="/main" class="logo">
    <img src="/img/NewsHub.png" alt="News Hub 로고" />
  </a>
  <nav>
    <a href="/news/list">뉴스</a>
    <a href="/boarder/list">커뮤니티</a>
  </nav>
  <div class="auth">
    <a href="/user/login">로그인</a>
    <a href="/user/register">회원가입</a>
  </div>
</div>

<div class="mypage-container">
  <h2>마이페이지</h2>

  <form class="mypage-form" th:action="@{/member/update}" th:object="${member}" method="post">
    <label for="email">아이디(E-mail)</label>
    <input type="email" id="email" th:field="*{email}" th:readonly="true" />
    <input type="hidden" th:field="*{id}"/>
    <label for="name">닉네임</label>
    <input type="text" id="name" th:field="*{name}" />

    <label for="newPassword">새 비밀번호</label>
    <input
            type="password"
            id="newPassword"
            placeholder="새 비밀번호 입력"
            th:field="*{password}"
    />

    <label for="newPasswordConfirm">새 비밀번호 확인</label>
    <input
            type="password"
            id="newPasswordConfirm"
            placeholder="새 비밀번호 입력"
    />

    <div class="button-group">
      <button type="submit" class="btn-submit">회원정보 변경</button>
      <button type="button" class="btn-cancel" onclick="history.back()">취소</button>
    </div>
  </form>
</div>
</body>
</html>
