.board-container {
  max-width: 100%;
  margin: 100px auto 50px;
  padding: 0 20px;
}

.category-section {
  max-width: 1000px;
  margin: 0 0 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  /* 간격 조절 */
  flex-wrap: wrap;
  /* 줄바꿈 대응 */
}

.press-filter-wrap {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #1976d2;
}

#press-filter {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #1976d2;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category-buttons a {
  text-decoration: none;
  padding: 6px 14px;
  background: #f0f0f0;
  border-radius: 20px;
  font-size: 14px;
  color: black;
}

.category-buttons a.active {
  background: #1976d2;
  color: white;
}

.category-buttons a:hover {
  background: #ddd;
}

.board-tabs a {
  text-decoration: none;
  padding: 6px 14px;
  border-radius: 20px;
  background-color: #f0f0f0;
  color: black;
}

.board-tabs a.active {
  background-color: #1976d2;
  color: white;
}

.board-header {
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-count {
  font-size: 14px;
  color: #333;
}

.board-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px;
  max-width: 700px;
  margin: 20px auto 0;
}

.board-search select {
  padding: 10px;
  border: none;
  font-size: 14px;
}

.board-search input {
  border: none;
  padding: 10px 12px;
  font-size: 14px;
  outline: none;
  width: 540px;
}

.board-search button {
  background-color: #1976d2;
  border: none;
  padding: 5px 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-left: 1px solid #ccc;
  height: 40px;
  font-size: 12px ;
}

.board-search button:hover {
  background-color: #cce4ff;
}
.board-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  font-size: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.board-table thead {
  background-color: #f9f9f9;
  border-bottom: 2px solid #ccc;
}

.board-table th,
.board-table td {
  text-align: left;
  padding: 14px 16px;
  border-bottom: 1px solid #eee;
}

.board-table td:nth-child(1),
th:nth-child(1) {
  width: 8%;
  text-align: center;
}

.board-table tr:hover {
  background-color: #f3f3f3;
}
.blind-row {
  background-color: #f5f5f5;
  color: #999;
}
.board-table a {
  text-decoration: none;
  color: #333;
}

.board-table a:hover {
  text-decoration: underline;
  color: #1976d2;
}

.news-title-cell {
  max-width: 200px; /* 너비는 적절히 조절 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  margin-top: 30px;
  text-align: center;
  justify-content: center;
}

.pagination button {
  padding: 6px 12px;
  margin: 0 4px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.pagination button.active {
  background-color: #1976d2;
  color: white;
  font-weight: bold;
}

.pagination button:disabled {
  color: #999;
  cursor: not-allowed;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0 4px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #f0f0f0;
}

.btn.active {
  background-color: #1976d2;
  color: white !important;
  font-weight: bold;
}

.btn.disabled {
  border-color: #eee;
  color: #999;
  cursor: not-allowed;
  pointer-events: none;
}
.board-search form {
  display: flex;
  align-items: center;
}
